body{
    font-family: "Philosopher", sans-serif;
    margin: 0;
}
header {
    background-color: #333;
    color: white;
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.2);
    flex-direction: row;
    z-index: 1;
}
header h1{
    margin: 0 3vw;
    cursor: pointer;
}
header h1 a{
    color: #fff;
    text-decoration: none;
}
.menu-dropdown {
    padding: 0.5vh;
    display:flex;
    justify-content: space-around;
    position: relative;
    width: 100%;
    background-color: #333;
    border-top:  1px solid white;
}
.menu-icon{
    cursor: pointer; 
    justify-content: left;
    font-size: 2.8vh ;
    margin-right: 5vh;
}
.menu-dropdown a{
    color: white;
    text-decoration: none;
}
footer {
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.2);
}
footer a {
    color: #fff;
    text-decoration: none;
}
main{
    display: flex;
    padding-top: 10vh;
    height: 90vh;
    justify-content: center;
    align-items: center;
}
#Modelo{
    display: flex;
}