body {
    font-family: 'Philosopher', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}

.menu-dropdown { 
    display: none;
    position: relative;
    left: 0;
    width: 100%;
    background-color: #333;
}

.menu-dropdown a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.menu-icon {
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 1%;
}


#contenedorTexto {
    display: flex;
    flex-direction: column;
    
    width: 30%;
    position: fixed;
    align-items: flex-end; /* Alinea el contenido a la derecha */
    align-items: center;
    right: 0; /* Posición a la derecha */
    padding: 20px; /* Ajusta el relleno según sea necesario */
    top: 50%; /* Centra verticalmente */
    transform: translateY(-50%);
}

#contenedorTexto img {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    padding: 5%;
}

#Presentacion {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.SegTitulo {
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

#Modelo {
    align-items: left; 
    width: 80%;
    height: 95vh;
}

model-viewer {
    width: 100%;
    height: 100%; 
    display: block; 
    margin: auto; 
}

.hidden {
    display: none;
}

#toggle {
    padding-top: 50vh;
    padding-right: 1vw;
    display: flex;
    font-size: 50px; 
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

