body{
    font-family: "Philosopher", sans-serif;
    margin: 0;
}
header {

    background-image: url("/JoseMasip/media/img/gatoo.jpg"); /* URL de la imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir todo el elemento */
    background-position: center;
   /* background-color: #333; */
    color: white;
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.2);
    flex-direction: row;
    z-index: 1;
}
header h1{
    margin: 0 3vw;
    cursor: pointer;
}
header h1 a{
    color: #fff;
    text-decoration: none;
}
.menu-dropdown {
    padding: 0.5vh;
    display:flex;
    justify-content: space-around;
    position: relative;
    width: 100%;
    background-color: #333;
    border-top:  1px solid white;
}
.menu-icon{
    cursor: pointer; 
    justify-content: left;
    font-size: 2.8vh ;
    margin-right: 5vh;
}
.menu-dropdown a{
    color: white;
    text-decoration: none;
}
footer {
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.2);
}
footer a {
    color: #fff;
    text-decoration: none;
}
main{
    justify-content: center;
    align-items: center;
}
#Galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 20vh;
}
#Galeria img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#Galeria img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}